# Deep Learning Neural Network on Animal Shelter data

In [1]:
import numpy
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
import theano

import matplotlib.pyplot as plt
import os

Using Theano backend.

In [2]:
# Set up my data directories from different machines

mac_data_dir = '/Users/christopherallison/Documents/Coding/Data'
linux_data_dir = '/home/chris/data'
win_data_dir = u'C:\\Users\\Owner\\Documents\\Data'

# Set data directory for example

data_dir = linux_data_dir

In [3]:
# Load our prepared dataset and reference data

df = pd.read_csv(os.path.join(data_dir, "prepared_animals_df.csv"),index_col=0)

In [4]:
df.head()

,OutcomeType,AnimalType,AgeuponOutcome,Color,Intact,Gender,NameLength,BreedKMeans
0,Return_to_owner,1,1,0,0,1,7,2
1,Euthanasia,0,1,1,0,0,5,0
2,Adoption,1,2,2,0,1,6,3
3,Transfer,0,0,2,1,1,3,0
4,Transfer,1,2,3,0,1,3,2

In [5]:
# Drop uneccesary columns
X = df.drop('OutcomeType', axis=1)
X.dtypes

AnimalType        int64
AgeuponOutcome    int64
Color             int64
Intact            int64
Gender            int64
NameLength        int64
BreedKMeans       int64
dtype: object

In [6]:
# We now have a dataframe with 7 features.

X.head()

   AnimalType  AgeuponOutcome  Color  Intact  Gender  NameLength  BreedKMeans
0           1               1      0       0       1           7            2
1           0               1      1       0       0           5            0
2           1               2      2       0       1           6            3
3           0               0      2       1       1           3            0
4           1               2      3       0       1           3            2

In [7]:
X = X.as_matrix()

In [8]:
outcomes = df.OutcomeType.unique()

In [9]:
from sklearn import preprocessing

# This code takes our text labels and creates an encoder that we use
# To transform them into an array

encoder = preprocessing.LabelEncoder()
encoder.fit(outcomes)

encoded_y = encoder.transform(outcomes)
encoded_y

#We can also inverse_transform them back.
list(encoder.inverse_transform([0, 1, 2, 3, 4]))

#We still need to transform the array into a matrix - this is called one hot encoding. It allows us to track the probability of each possible outcome separately.
# convert integers into dummy variables (one hot encoding)

from keras.utils import np_utils

# We'll practice with the dummy for now, but we'll transform the full labels later.
dummy_y = np_utils.to_categorical(encoded_y)
dummy_y

#We'll transform the labels into their array value, though.
df.OutcomeType = encoder.transform(df.OutcomeType)

In [10]:
train_target = np_utils.to_categorical(df['OutcomeType'].values)
train_target

array([[ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [11]:
model = Sequential()
model.add(Dense(5, input_dim=7, init='normal', activation="relu"))
model.add(Dense(5, init='normal', activation='sigmoid'))

# Compile model
print("Compiling model...")
model.compile(loss='categorical_crossentropy', optimizer='adam',
             metrics=['accuracy'])

Compiling model...

In [12]:
hist = model.fit(X, train_target, validation_split=0.2)
print("")
print(hist.history)

Train on 21383 samples, validate on 5346 samples
Epoch 1/10
21383/21383 [==============================] - 0s - loss: 1.3114 - acc: 0.4029 - val_loss: 1.2343 - val_acc: 0.4817
Epoch 2/10
21383/21383 [==============================] - 0s - loss: 1.1374 - acc: 0.5321 - val_loss: 1.0749 - val_acc: 0.5597
Epoch 3/10
21383/21383 [==============================] - 0s - loss: 1.0379 - acc: 0.5902 - val_loss: 1.0227 - val_acc: 0.5857
Epoch 4/10
21383/21383 [==============================] - 0s - loss: 1.0035 - acc: 0.5890 - val_loss: 0.9989 - val_acc: 0.5859
Epoch 5/10
21383/21383 [==============================] - 0s - loss: 0.9893 - acc: 0.5909 - val_loss: 0.9887 - val_acc: 0.5877
Epoch 6/10
21383/21383 [==============================] - 0s - loss: 0.9824 - acc: 0.5893 - val_loss: 0.9801 - val_acc: 0.5883
Epoch 7/10
21383/21383 [==============================] - 0s - loss: 0.9775 - acc: 0.5889 - val_loss: 0.9757 - val_acc: 0.5903
Epoch 8/10
21383/21383 [==============================] - 0s - loss: 0.9742 - acc: 0.5907 - val_loss: 0.9720 - val_acc: 0.5932
Epoch 9/10
21383/21383 [==============================] - 0s - loss: 0.9709 - acc: 0.5892 - val_loss: 0.9688 - val_acc: 0.5887
Epoch 10/10
21383/21383 [==============================] - 0s - loss: 0.9684 - acc: 0.5907 - val_loss: 0.9664 - val_acc: 0.5917

{'val_acc': [0.48166853722409275, 0.55967078189300412, 0.58567153011597461, 0.58585858585858586, 0.58772914328469883, 0.58829031051253278, 0.59034792368125699, 0.59315375982042651, 0.58866442199775537, 0.59165731387953613], 'val_loss': [1.2342542988327261, 1.0748626536369501, 1.0227256237323303, 0.99885358250279399, 0.98869850134474924, 0.98007850021714804, 0.97569273246659172, 0.97198040827445398, 0.96875947869943402, 0.96638080088600786], 'acc': [0.40293691250615954, 0.53210494318055479, 0.59018846748252418, 0.5889725482874153, 0.59093672544166909, 0.58934667726838152, 0.58887901604635506, 0.59065612870176321, 0.58915961278207962, 0.59070289483135263], 'loss': [1.3114428700942717, 1.1374036325561216, 1.0379323547695816, 1.0034973191204783, 0.98930257900288698, 0.98237356412947607, 0.97752693094919774, 0.97421303645813984, 0.97091713447496764, 0.96838196283226818]}

In [13]:
model.evaluate(X, train_target)

26688/26729 [============================>.] - ETA: 0s

[0.96623844485647004, 0.5906318979452585]

In [14]:
model.predict_proba(X[0:2])

2/2 [==============================] - 0s

array([[  8.30640078e-01,   6.08531060e-04,   1.58535950e-02,
          3.64957541e-01,   2.12962806e-01],
       [  6.48189723e-01,   7.11288676e-03,   2.52435282e-02,
          9.18255746e-02,   3.17392439e-01]])