In [5]:
import numpy
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
import theano

import matplotlib.pyplot as plt
import os

In [6]:
data_dir = '/Users/christopherallison/Documents/Coding/Data'

In [24]:
train_df = pd.read_csv(os.path.join(data_dir, "clean_train.csv"), index_col=0)

In [25]:
train_df.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,7,2014-02-12 18:22:00,0,0,0,0,365,0,0
1,A656520,5,2013-10-13 12:44:00,1,1,1,1,365,1,1
2,A686464,6,2015-01-31 12:28:00,2,2,0,0,730,2,2
3,A683430,3,2014-07-11 19:09:00,3,3,1,2,21,1,3
4,A667013,3,2013-11-15 12:52:00,3,3,0,0,730,3,4

In [26]:
# Drop uneccesary columns
X = train_df.drop(['AnimalID', 'DateTime', 'OutcomeType', 'OutcomeSubtype'], axis=1)
X.dtypes

Name              int64
AnimalType        int64
SexuponOutcome    int64
AgeuponOutcome    int64
Breed             int64
Color             int64
dtype: object

In [27]:
X.head()

   Name  AnimalType  SexuponOutcome  AgeuponOutcome  Breed  Color
0     7           0               0             365      0      0
1     5           1               1             365      1      1
2     6           0               0             730      2      2
3     3           1               2              21      1      3
4     3           0               0             730      3      4

In [69]:
X = X.as_matrix()

In [52]:
train_target = np_utils.to_categorical(train_df['OutcomeType'].values)
train_target

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       ...,
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.,  0.]])

In [94]:
model = Sequential()
model.add(Dense(5, input_dim=6, init='normal', activation="relu"))
model.add(Dense(5, init='normal', activation='sigmoid'))

# Compile model
print("Compiling model...")
model.compile(loss='categorical_crossentropy', optimizer='adam',
             metrics=['accuracy'])

Compiling model...

In [95]:
model.fit(X, train_target, validation_split=0.2)

Train on 21383 samples, validate on 5346 samples
Epoch 1/10
21383/21383 [==============================] - 0s - loss: 1.3218 - acc: 0.3972 - val_loss: 1.2145 - val_acc: 0.3928
Epoch 2/10
21383/21383 [==============================] - 0s - loss: 1.1828 - acc: 0.4035 - val_loss: 1.1515 - val_acc: 0.3992
Epoch 3/10
21383/21383 [==============================] - 0s - loss: 1.1260 - acc: 0.4432 - val_loss: 1.0940 - val_acc: 0.4948
Epoch 4/10
21383/21383 [==============================] - 0s - loss: 1.0799 - acc: 0.5084 - val_loss: 1.0612 - val_acc: 0.5049
Epoch 5/10
21383/21383 [==============================] - 0s - loss: 1.0420 - acc: 0.5387 - val_loss: 1.0301 - val_acc: 0.5660
Epoch 6/10
21383/21383 [==============================] - 0s - loss: 1.0078 - acc: 0.5745 - val_loss: 1.0000 - val_acc: 0.5767
Epoch 7/10
21383/21383 [==============================] - 0s - loss: 0.9892 - acc: 0.5831 - val_loss: 0.9973 - val_acc: 0.5862
Epoch 8/10
21383/21383 [==============================] - 0s - loss: 0.9824 - acc: 0.5908 - val_loss: 0.9777 - val_acc: 0.5808
Epoch 9/10
21383/21383 [==============================] - 0s - loss: 0.9759 - acc: 0.5919 - val_loss: 0.9767 - val_acc: 0.5847
Epoch 10/10
21383/21383 [==============================] - 0s - loss: 0.9713 - acc: 0.5972 - val_loss: 0.9679 - val_acc: 0.5892

In [96]:
model.evaluate(X, train_target)

26272/26729 [============================>.] - ETA: 0s

[0.96210765053230551, 0.59991020988662513]

In [97]:
hist = model.fit(X, train_target, validation_split=0.2)
print(hist.history)

Train on 21383 samples, validate on 5346 samples
Epoch 1/10
21383/21383 [==============================] - 0s - loss: 0.9676 - acc: 0.5953 - val_loss: 0.9657 - val_acc: 0.5928
Epoch 2/10
21383/21383 [==============================] - 0s - loss: 0.9623 - acc: 0.5973 - val_loss: 0.9692 - val_acc: 0.5911
Epoch 3/10
21383/21383 [==============================] - 0s - loss: 0.9638 - acc: 0.5957 - val_loss: 0.9638 - val_acc: 0.5857
Epoch 4/10
21383/21383 [==============================] - 0s - loss: 0.9686 - acc: 0.5926 - val_loss: 0.9827 - val_acc: 0.5872
Epoch 5/10
21383/21383 [==============================] - 0s - loss: 0.9612 - acc: 0.5952 - val_loss: 0.9709 - val_acc: 0.5862
Epoch 6/10
21383/21383 [==============================] - 0s - loss: 0.9618 - acc: 0.5953 - val_loss: 0.9805 - val_acc: 0.5816
Epoch 7/10
21383/21383 [==============================] - 0s - loss: 0.9620 - acc: 0.5958 - val_loss: 0.9539 - val_acc: 0.5943
Epoch 8/10
21383/21383 [==============================] - 0s - loss: 0.9600 - acc: 0.5962 - val_loss: 0.9536 - val_acc: 0.5939
Epoch 9/10
21383/21383 [==============================] - 0s - loss: 0.9581 - acc: 0.5967 - val_loss: 0.9536 - val_acc: 0.5875
Epoch 10/10
21383/21383 [==============================] - 0s - loss: 0.9568 - acc: 0.5962 - val_loss: 0.9557 - val_acc: 0.5960
{'loss': [0.96764743480290794, 0.9623272905669511, 0.9637950664791296, 0.96862339709475531, 0.96121020954127889, 0.96177337832844012, 0.96202959431983337, 0.95995955168852465, 0.95812715409441251, 0.95680333826777497], 'val_acc': [0.59277964833520391, 0.59109614665170218, 0.58567153011597461, 0.58716797605686499, 0.58623269734380845, 0.58155630377852596, 0.59427609427609429, 0.5939019827908717, 0.58754208754208759, 0.59595959595959591], 'acc': [0.59528597484261347, 0.59725015199826093, 0.59566010382636714, 0.5925735397333961, 0.5952392087199927, 0.59533274097080924, 0.59575363606812437, 0.59617453117101449, 0.59673572464246372, 0.59617453117798314], 'val_loss': [0.96571982682888491, 0.96916701811063699, 0.96379190446997776, 0.98270448394540633, 0.97086069983487, 0.98054151895382502, 0.95385142494086417, 0.95355359341961765, 0.95363655733205921, 0.95567474396898644]}

In [99]:
model.predict_proba(X[0:2])

2/2 [==============================] - 0s

array([[ 0.68319237,  0.05724231,  0.99777216,  0.43083489,  0.00347971],
       [ 0.12574624,  0.04307044,  0.71799105,  0.35309261,  0.00411421]])